#background{
    z-index:2;
    width: 100%;
    height:483px;
    position: relative;
}
#background_img img{
    width: 100%;
    height: 100%;
    float: left;
    display: none;
}
#background_word{
    font-size: 20px;
    line-height:30px;
    position: absolute;
    top: 80px;
    right: 150px;
}
#background_img .selected{
    display: block;
}
#background_list{
    position: absolute;
    left: 90px;
    bottom:75px;
}
#background_list li{
    width:30px;
    height:3px;
    background:gainsboro ;
    opacity: 0.8;
    float: left;
    margin-left:5px;
    cursor: pointer;

}
#background_list .selected{
    background:darkred;
}
#background_sorrn{
    position: absolute;
    right: 100px;
    bottom: 75px;
}
#background_sorrn #prev,#background_sorrn #next{
    display: inline-block;
    margin-right:10px;
    width: 35px;
    border-radius: 5px;
    height: 35px;
    background:darkred;
    text-align: center;
    color:gray;
    line-height:35px;
    cursor: pointer;
}
#music{
    z-index:3;
    position: fixed;
    bottom: 0;
    right: 0;
}
#nav{
    z-index:3;
    background:darkgreen;
    border:solid 1px darkgreen;
    border-radius: 5px;
    position:fixed;
    width: 40%;
    top: 0;
    left: 0;
}
#nav #logol_one{
    float: left;
    /*background:url("../img/logol1.jpg")center no-repeat;*/
    width: 85%;
    border-radius:5px;
    height:50px;
    text-align: center;
    line-height: 50px;
    background:darkgreen;
}
#nav #logol_two{
    float: left;
    width:10%;
    margin-top:10px;
    border-radius:5px;
    border:solid 1px darkgrey;
    height: 30px;
    background:darkred;
    cursor: pointer;
}
#nav .menu{
    display: block;
    margin-top:6px;
    margin-left:8px;
    margin-right:8px;
    height: 2px;
    background:darkgrey;
}
#intro{
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
}
#intro img{
    z-index:1;
    width: 100%;

}
#intro #first{
    /*z-index:2;*/
    width: 300px;
    height:180px;
    font-size: 35px;
    color:darkgreen;
    text-align: center;
    line-height: 190px;
    border-bottom: solid 5px darkred;
    border-right: solid 5px darkred;
    /*border: solid 3px darkgrey;*/
    position:absolute;
    bottom: 30px;
    right: 40px;
}

#intro2{
    float: right;
    width: 60%;
    height:50px;
    background:darkgreen;
}
#intro2 .item{
    display: inline-block;
    width: 19%;
    margin-left:2px;
    height:50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;;
}
#content{
    width: 60%;
    float: right;
}