#background{
    width: 100%;
    height:483px;
    position: relative;
}
#background_img img{
    width: 100%;
    height: 100%;
    float: left;
    display: none;
}
#background_img .selected{
    display: block;
}
#background_list{
    position: absolute;
    left: 90px;
    bottom:75px;
}
#background_list li{
    width:30px;
    height:3px;
    background:gainsboro ;
    opacity: 0.8;
    float: left;
    margin-left:5px;
    cursor: pointer;

}
#background_list .selected{
    background:darkred;
}
#background_sorrn{
    position: absolute;
    right: 100px;
    bottom: 75px;
}
#background_sorrn #prev,#background_sorrn #next{
    display: inline-block;
    margin-right:10px;
    width: 35px;
    border-radius: 5px;
    height: 35px;
    background:darkred;
    text-align: center;
    color:gray;
    line-height:35px;
    cursor: pointer;
}
#nav{
    background:darkgreen;
    border:solid 1px darkgreen;
    border-radius: 5px;
    position:fixed;
    width: 40%;
    top: 0;
    left: 0;
}
#nav #logol_one{
    float: left;
    /*background:url("../img/logol1.jpg")center no-repeat;*/
    width: 80%;
    border-radius:5px;
    height:50px;
    text-align: center;
    line-height: 50px;
    background:darkgreen;
}
#nav #logol_two{
    float: left;
    width:12%;
    margin-top:10px;
    border-radius:5px;
    border:solid 1px darkgrey;
    height: 30px;
    background:darkred;
}
#nav .menu{
    z-index: 10;
    display: block;
    width: 20px;
    height: 5px;
    color:yellow;
}