#background{
    width: 100%;
    height:700px;
    position: relative;
}
#background_img img{
    width: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    float: left;
    display: none;
}
#background_img .selected{
    display: block;
}
#background_list{
    position: absolute;
    left: 150px;
    bottom:100px;
}
#background_list li{
    width: 50px;
    height: 5px;
    background:gainsboro;
    float: left;
    margin-left:10px;
    cursor: pointer;

}
#background_list .selected{
    background:orange;
}
#background_sorrn{
    position: absolute;
    right: 150px;
    bottom: 100px;
}
#background_sorrn #prev,#background_sorrn #next{
    display: inline-block;
    margin-right:10px;
    width: 50px;
    height: 50px;
    background:orange;
    text-align: center;
    color: white;
    line-height: 50px;
    cursor: pointer;
}