*{
    margin: 0;
    padding: 0;
    font-size:12px;
    text-decoration: none;
}
li{
    list-style: none;
}
.warpper{
    width: 800px;
    margin:0 auto;
    position: relative;
    /*background: #0f0f0f;*/

}
.warpper_app{
    width: 1170px;
    height: 220px;
    margin:0 auto;
    position: relative;
}
.warpper_app_wsg{
    width: 1170px;
    height: 220px;
    margin:0 auto;
    position: relative;
}